@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.google.com/specimen/Newsreader);

@layer utilities {
  .shadow-text5 {
    text-shadow: -15px 5px 20px #ced0d3;
    }
  @variants hover {
    .shadow-h-text5 {
      text-shadow: -16px 6px 15px #ced0d3;
    }
  }
}
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
